<% if (!user) { %>
<div class="hero-unit">
<h1>欢迎来到 房价分析可视化系统</h1>
<p>这是一个基于 Node.js 的房价分析可视化系统。</p>
<p>
<a class="btn btn-primary btn-large" href="/login">登录</a>
<a class="btn btn-large" href="/reg">立即注册</a>
</p>
</div>
<% } else { %>
<%- partial('say') %>
<% } %>
<%- partial('posts') %>