<form class="well form-inline center" style="text-align:center;">
<h2> 小区指标选择</h2>
<a class="btn btn-primary btn-large" href="dotmap.html">可视化均价</a>
<a class="btn btn-primary btn-large" href="dotmap2.html">可视化户数</a>
<a class="btn btn-primary btn-large" href="dotmap.html">可视化建成年代</a>
<a class="btn btn-primary btn-large" href="dotmap.html">可视化容积率</a>
<a class="btn btn-primary btn-large" href="dotmap.html">可视化绿化率</a>
</form>
<form class="well form-inline center" style="text-align:center;">
<h2> 板块指标选择</h2>
<a class="btn btn-primary btn-large" href="hover.html">板块指标</a>
</form>
<form method="post" action="/post" class="well form-inline center" style="text-align:center;">
<input type="text" class="span8" name="post">
<button type="submit" class="btn btn-success"><i class="icon-comment icon-white">
</i>发布</button>
</form>